.icon-child
{
	color:red;
	font-size: 40px;
	float: left;
}
.icon-airport-plane
{
	color:blue;
	font-size: 40px;
	float: left;
}
.icon-battery-3
{
	color:yellow;
	font-size: 40px;
	float: left;
}
.nav-wrapper
{
	background-color: yellow;		
}



